// choicewindow.component.scss
@import '/src/app/auth-styles.scss';

.main-container {
    display: flex;
    height: calc(100vh - 40px); 
    width: calc(100vw - 40px);   
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.left-container {
    width: 35%;
    padding: 20px;
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.right-container {
    width: 65%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.type-indicator {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 45px;
    left: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    overflow: hidden;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.container-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.container-list li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border 0.3s ease;
    cursor: pointer;
  }
  
  .container-list li:hover {
    background-color: rgba(0, 123, 255, 0.1);
  }
  
  .container-list li.selected {
    background-color: rgba(0, 123, 255, 0.2);
    border: 2px solid #007bff;
  }
  
  .container-list li.unselected {
    background-color: white;
    border: 1px solid #dddddd;
    color: #333333; 
  }
  
  .dropdown-icon {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .container-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .info-icon {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .select-container-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
  

.dropdown-icon {
    margin-left: 10px;  
    font-size: 16px;   
}

.container-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
.info-icon {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.select-container-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .dropdown-icon {
    margin-left: 10px;  
    font-size: 16px;   
  }

.right-container pre {
    font-size: 12px; 
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace; 
    overflow-x: auto; 
    overflow-y: auto; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    scrollbar-color: #b68baf #f0f0f0; 
    scrollbar-width: auto; 
}