body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #ecf0f1;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: linear-gradient(135deg, #702d55 0%, #4f244c 100%); /* Gradient applied to full screen */
    border-radius: 0; /* Remove border radius */
    overflow: hidden;
    box-shadow: none; /* Remove shadow */
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    padding: 20px;
}

.welcome-text {
    font-size: 2em;  
    text-align: left;
    margin-bottom: 100px; 
}

.author-name {
    font-size: 1.2em;  
    margin-bottom: 5px;
}

.version {
    font-size: 0.8em;  
    margin-bottom: 20px;
}

.progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 15px; /* Increase the border-radius */
    height: 15px; /* Increase the height */
    overflow: hidden;
    margin-top: 10px;  
}

.progress-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #d16ba5, #c777b9, #ba83ca, #aa8fd8); /* Gradient for dynamic look */
    border-radius: 15px; /* Match the container's border-radius */
    animation: load 5s ease-in-out infinite;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}

.loading-text {
    margin-top: 20px;
    font-size: 1em;
    color: #ecf0f1;
    text-align: left;
    animation: fadeInOut 1s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
