.events-container {
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 background-color: rgba(255, 255, 255, 0.9);
 border-radius: 10px;
 padding: 0px; /* Adjust padding */
 transition: flex-grow 0.3s ease;
 height: 530px; /* Fill the parent container */
 margin-bottom: 0px;
}

.table-container {
 display: block;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: calc(100vh - 96px);
 width: calc(100vw - 20px);
 background-color: rgba(255, 255, 255, 0.95); 
 border-radius: 10px;
 padding: 20px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
 transition: box-shadow 0.3s ease;
 max-width: 100%;
 max-height: 100%;
 color: #000000;
}

/* Table properties */
table {
 width: 100%;
 border-collapse: collapse;
 border: 1px solid #c0c0c0; /* Adjust color as needed */
 border-radius: 8px;
 overflow: hidden; color: #000000; 
}

/* Row and cell properties */
th, td {
 padding: 12px;
 text-align: left;
 border-bottom: 2px solid #c0c0c0;
 border-top: 2px solid #c0c0c0;
}

/* Header row style */
thead {
 border-bottom: 2px solid #c0c0c0; 
}

th {
 border-bottom: 2px solid #c0c0c0;
}



tr:first-child th:first-child {
 border-top-left-radius: 8px; 
}

tr:first-child th:last-child {
 border-top-right-radius: 8px; 
}

tr:last-child td:first-child {
 border-bottom-left-radius: 8px; 
}

tr:last-child td:last-child {
 border-bottom-right-radius: 8px; 
}

th:first-child, td:first-child {
 border-left: 2px solid #c0c0c0;
}

th:last-child, td:last-child {
 border-right: 2px solid #c0c0c0;
}

button {
 background-color: transparent !important;
 color: #9d9b9b !important;
 font-weight: bold;
}

.chip {
 display: inline-block;
 padding: 0.5em 1em;
 border: none;
 border-radius: 25px; /* Adjust the border-radius to control the roundness */
 font-size: 0.9em; /* Smaller font size */
 margin: 2px; /* Spacing between chips */
 background-color: #aeaeae; // Green color, to make it easier to detect
 color: #fff;
 border: solid #000;
}

.High.chip {
 background-color: #d02b2b; // Green color, to make it easier to detect
 color: #fff;
}

.Low.chip {
 background-color: #3a963a;
 color: #fff;
}

.Medium.chip {
 background-color: #ff6a00;
 color: #fff;
}

ion-header {
 border-bottom: 1px solid #ccc;
}

ion-toolbar {
 width: 100%;  // Ensure toolbar takes full width of its container
}

ion-segment {
 --indicator-color: var(--ion-color-primary);
 --color-checked: var(--ion-color-primary);
}

ion-searchbar {
 --background: #e8e3e3;
 --placeholder-color: #3d3d3d;
 margin-bottom: 20px;  // Ensure there's space between search bar and table
}

.incidents-container {
 padding: 20px;
 overflow: auto; // Adding scroll if needed without affecting the table
}

.table-container {
 margin-top: 20px; // Ensuring space between search bar and table
 border: 1px solid #ccc;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 border-radius: 8px;
 overflow: hidden;
}

/* Ensure existing table styles do not change */
table {
 width: 100%;
 border-collapse: collapse;
}

th, td {
 padding: 12px;
 text-align: left;
}

table {
 width: 100%;
 margin-top: 0px;  // Remove margin-top if it's not needed
 border-collapse: collapse;
 th, td {
   padding: 12px;
   border-bottom: 2px solid #c0c0c0;
 }
 thead th {
   border-bottom: 2px solid #c0c0c0;
 }
}

ion-select {
 --icon-color: #000000;
}

.events-container ion-select {
 --highlight-color: #000000; // Set to your preferred color, example here is blue
}

ion-select::part(placeholder),
ion-select::part(text) {
  color: #000; // Ensures the text color is set correctly
}

ion-select::part(icon) {
  color: #000; // Ensures the dropdown arrow icon color is overridden
}

ion-select::part(underline) {
 border-color: #4285F4; // This assumes there's a part named 'underline', which may not exist
}