<ion-app>
    <app-top-bar></app-top-bar>
    <ion-content>
        
        <div class="login-container">
            <h1>Login</h1>
            <div id="google-signin">
                <ion-button id="google-login" class="google-button">
                    <div class="google-icon-container">
                        <img src="assets/login/g-logo.png" alt="Google" class="google-icon">
                    </div>
                    <span class="button-text">Sign in with Google</span>
                </ion-button>
            </div>
            <div id="microsoft-signin">
                <ion-button id="microsoft-login" class="microsoft-button">
                    <div class="microsoft-icon-container">
                        <img src="assets/login/microsoft-logo.svg" alt="Microsoft" class="microsoft-icon">
                    </div>
                    <span class="button-text">Sign in with Microsoft</span>
                </ion-button>
            </div>
        </div>
    </ion-content>
</ion-app>