<div class="view-container">
  <ion-toolbar>
    <ion-title>Monitoring Metrics</ion-title>
  </ion-toolbar>
  
  <!-- Open Events Table -->
  <div class="table-container">
    <ion-toolbar>

    </ion-toolbar>
    
    <div class="metrics-container">
      <table class="metrics-table">
        <tr>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric1" disabled><span class="checkmark"></span>CPU Usage</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric2" disabled><span class="checkmark"></span>Memory Usage</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric1" disabled><span class="checkmark"></span>Disk I/O</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric2" disabled><span class="checkmark"></span>API Liveliness</label></td>
        </tr>
        <tr>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric3" disabled><span class="checkmark"></span>System Performance</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric4" disabled><span class="checkmark"></span>User Concurrency</label></td>
          <td></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric2" disabled><span class="checkmark"></span>User Interactions</label></td>
        </tr>
        <tr>
          <td>/td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric6" disabled><span class="checkmark"></span>Error Rates</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric1" disabled><span class="checkmark"></span>Log Volume</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric2" disabled><span class="checkmark"></span>Response Times</label></td>
        </tr>
        <tr>
          <td></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric5" disabled><span class="checkmark"></span>Uptime</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric6" disabled><span class="checkmark"></span>API Call Statistics</label></td>
          <td><label class="custom-checkbox"><input type="checkbox" name="metric1" disabled><span class="checkmark"></span>Change Management</label></td>
        </tr>
        <!-- Add more rows and columns as needed -->
      </table>  
      </div>

  </div>

</div>
<div class="footer">
  &#8505; Metrics are controlled by your organisation. Please contact an administrator for more information.
</div>

