<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Enable Notifications</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-select >
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Add more settings here -->
  </ion-list>
</ion-content>
