@import '/src/app/auth-styles.scss';

*, *::before, *::after {
    box-sizing: border-box;
  }
  
.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 96px);
    width: calc(100vw - 20px);
    margin: 56px auto 20px auto;
    max-width: 95%;
    max-height: 90%;
    transition: all 0.3s ease;
    position: relative;      
}
  
.page-container {
    flex-grow: 1;
    flex-basis: 75%;
    transition: flex-basis 0.3s ease; 
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
    grid-gap: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.page-container h4 {
    grid-column: 1 / -1; 
    margin: 0;           
    padding: 5 5 5 0;          
    font-size: 1rem;     
    line-height: 1.2;
    text-align: left !important;
}    

.text-section {
    grid-column: 1; 
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 5px;
    height: 150px;
    overflow: hidden;
}

.drop-area, .drop-area-one, .drop-area-two {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-auto-rows: 100px;
    grid-gap: 10px;
    background-color: transparent;
}

  
.side-container {
    flex-grow: 1;
    flex-basis: 25%; 
    transition: flex-basis 0.3s ease; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-gap: 30px;
    background-color: rgba(235, 235, 235, 0.9);
    border-radius: 10px;
    padding: 20px;
    overflow-x: hidden;
}
  
.side-container.hidden {
    flex-basis: 0%; 
    padding: 0; 
}
  
.page-container.full-width {
    flex-basis: 100%; 
}

.example-box {   
    padding: 10px;
    line-height: 1.5;
    box-sizing: border-box;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2), 
                0 7px 10px 0 rgba(0, 0, 0, 0.14), 
                0 2px 12px 0 rgba(0, 0, 0, 0.12); 
}
  
.example-box:active {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3), 
                0 15px 20px 3px rgba(0, 0, 0, 0.2), 
                0 5px 25px 5px rgba(0, 0, 0, 0.15); 
}

.example-box.square {
    width: 100px;
    height: 100px;
    grid-column: span 1; 
    grid-row: span 1; 
}
  
.example-box.rectangle {
    width: 200px;
    height: 90px;
    grid-column: span 2; /* Span 2 columns */
    grid-row: span 1; /* Span 1 row */
}

.example-box.long-rectangle {
    width: 1030px;
    height: 90px;
    grid-column: span 10; /* Span 10 columns */
    grid-row: span 1; /* Span 1 row */
}

.example-box.large-rectangle {
    width: 400px;
    height: 200px;
    grid-column: span 4; /* Span 4 columns */
    grid-row: span 2; /* Span 2 row */
}

.example-box.graph-rectangle {
    width: 400px;
    height: 300px;
    grid-column: span 3; /* Span 3 columns */
    grid-row: span 2; /* Span 2 rows */
}
  
.example-box.large-square {
    width: 200px;
    height: 200px;
    grid-column: span 2; /* Span 2 columns */
    grid-row: span 2; /* Span 2 rows */
}
  
.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #8a8a8ac0;
    cursor: move;
    width: 18px;
    height: 18px;
}

.toggle-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    padding: 0; 
    font-size: 14px; 
}

.toggle-switch ion-label {
    margin-right: 10px; 
    white-space: nowrap; 
}

.toggle-switch ion-toggle {
    --handle-width: 18px; 
    --handle-height: 18px; 
    --width: 36px; 
    --height: 18px; 
    --background: rgba(0, 0, 0, 0.1); 
    --background-checked: rgba(33, 150, 243, 0.5); 
    --handle-background: white; 
}

.title-input {
    border: none;
    background: transparent;
    font-size: 36px; 
    color: #333; 
    width: 100%; 
    transition: border-bottom 0.3s ease; // Smooth transition for the underline
    border-bottom: 2px solid transparent; // Default state without underline
}

.title-input:focus {
    outline: none;
    border-bottom: 2px solid #efe8e8; // Underline appears on focus with animation
    width: 30%; 
}


.edit-icon {
    cursor: pointer;
    fill: #666; 
    transition: fill 0.2s ease-in-out;
}

.edit-icon:hover {
    fill: #333; 
}

@keyframes underline-grow {
    from {
        transform: scaleX(0);
        transform-origin: center;
    }
    to {
        transform: scaleX(1);
        transform-origin: center;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 2px solid #ccc;
    max-width: 600px;
}

.menu button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    outline: none;
    color: #666; 
    transition: color 0.1s, border-bottom 0.1s;
}

.menu button:hover {
    background-color: #e9e9e9; 
    border: 1px dotted #ddd; 
    color: #333; 
}

.menu button.active {
    color: #000; 
}

.menu button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #742b65; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.menu button.active::after {
    transform: scaleX(1); 
    animation: underline-grow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; 
}

.example-box.left-aligned-text {
    text-align: left;
    padding-left: 10px;  
}

.docker.info-card {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.docker.info-card img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 20px; 
        height: 100px;
        opacity: 0.5;
} 

.docker.info-card img:hover {
    opacity: 1;
}       

.page-container .text-section h1,
.page-container .title-input,
.page-container .text-section p
{
    text-align: left;
    margin-left: 0; 
}

.drop-area-two {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.downtime-card {
    display: block; 
    text-align: left; 
    overflow: hidden; 
    text-wrap: auto; 
    white-space: normal; 
    padding: 10px 0 20px 20px;
}

.downtime-card h3 {
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 20px !important;    
}
  
  .downtime-value {
    font-size: 48px;
    font-weight: normal;
    color: #999a9bab;
    line-height: 15px !important;  

  }
  
  .downtime-change {
    font-size: 24px;
    font-weight: normal;
    color: #d82b0c;
    line-height: 10px !important;  

  }

div .downtime-card h4,
div .downtime-card .downtime-value,
div .downtime-card .downtime-change {
  text-align: left;
}

//

.incident-card {
    display: block; 
    text-align: left; 
    overflow: hidden; 
    text-wrap: auto; 
    white-space: normal; 
    padding: 10px 0 20px 20px;
}

.incident-card h3 {
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 20px !important;    
}
  
  .incident-value {
    font-size: 48px;
    font-weight: normal;
    color: #999a9bab;
    line-height: 15px !important;  

  }
  
  .incident-change {
    font-size: 24px;
    font-weight: normal;
    color: #0c75d8;
    line-height: 10px !important;  

  }

div .incident-card h4,
div .incident-card .incident-value,
div .incident-card .incident-change {
  text-align: left;
}