<!-- Parts of this code adapted from Angular Material CDK Documentation -->
<ion-app>
  <ion-content>
    <div class="main-container">
      <!-- Side Container -->
      <div class="side-container" 
           [ngClass]="{'hidden': !sideContainerVisible}" 
           cdkDropList
           cdkDropListOrientation="vertical"
           #sideList="cdkDropList"
           [cdkDropListData]="sideContainerItems"
           [cdkDropListConnectedTo]="[pageList]"
           id="sideContainer"
           (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let item of sideContainerItems" 
             [ngClass]="getItemClass(item)"
             cdkDrag
             (cdkDragStarted)="onDragStart($event, item)"
             (cdkDragEnded)="onDragEnd($event, item)">
          {{ item.content }}
          <div class="example-handle" cdkDragHandle></div>
        </div>
      </div>
    
      <!-- Page Container -->
      <div class="page-container"
           [ngClass]="{'full-width': !sideContainerVisible}" 
           cdkDropList
           #pageList="cdkDropList"
           [cdkDropListData]="pageContainerItems"
           [cdkDropListConnectedTo]="[sideList]"
           id="pageContainer"
           (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let item of pageContainerItems"
             [ngClass]="getItemClass(item)"
             cdkDrag
             (cdkDragStarted)="onDragStart($event, item)"
             (cdkDragEnded)="onDragEnd($event, item)">
          {{ item.content }}
          <div class="example-handle" cdkDragHandle></div>
        </div>
      </div>
    </div>
    
 

        <!-- Toggle Side Container -->
        <div class="toggle-container">
          <ion-item class="toggle-switch">
            <ion-label>Toggle Side Container</ion-label>
            <ion-toggle [(ngModel)]="sideContainerVisible"
                        (ionChange)="toggleSideContainer()"></ion-toggle>
          </ion-item>
        </div>

    
  </ion-content>
</ion-app>
