
<ion-app>
  <ion-content>
    <div class="main-container">
      
      <!-- Side Container -->
      <div class="side-container" 
           [ngClass]="{'hidden': !sideContainerVisible}" 
           cdkDropList
           cdkDropListOrientation="vertical"
           #sideList="cdkDropList"
           [cdkDropListData]="sideContainerItems"
           [cdkDropListConnectedTo]="[pageList1, pageList2]"
           id="sideContainer"
           (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let item of sideContainerItems" 
             [ngClass]="getItemClass(item)"
             cdkDrag
             [cdkDragDisabled]="item.disabled"
             (cdkDragStarted)="onDragStart($event, item)"
             (cdkDragEnded)="onDragEnd($event, item)">
             <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{ item.content }}
          <div class="example-handle" 
               cdkDragHandle
               [ngClass]="{'dragging': isDragging}">
            <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </div>
    
      <!-- Page Container -->
      <div class="page-container"
           [ngClass]="{'full-width': !sideContainerVisible}" 
           id="pageContainer">

      <!-- Section 1 - Text Area -->
      <div class="text-section">
        <h1>
          <span *ngIf="!editMode">{{ title }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="title" class="title-input" (blur)="toggleEditMode()" (keyup.enter)="toggleEditMode()"/>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" (click)="toggleEditMode()" class="edit-icon" *ngIf="!editMode">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
        </h1>

        <div class="menu">
          <button (click)="selectTab('overview')" [ngClass]="{'active': activeMenuItem === 'overview'}">Overview</button>
          <button (click)="selectTab('events')" [ngClass]="{'active': activeMenuItem === 'events'}">Events</button>
          <button (click)="selectTab('metrics')" [ngClass]="{'active': activeMenuItem === 'metrics'}">Metrics</button>
          <button (click)="selectTab('logs')" [ngClass]="{'active': activeMenuItem === 'logs'}">Logs</button>
        </div>
      </div>

      <div *ngIf="currentTab === 'overview'">
      <!-- Include content for Overview tab -->

        <!-- Section 1 - Droppable Area -->
        <div class="drop-area-one"
            cdkDropList
            #pageList1="cdkDropList"
            [cdkDropListData]="pageContainerItems1"
            [cdkDropListConnectedTo]="[sideList, pageList1]"
            (cdkDropListDropped)="onDrop($event)">

          <div *ngFor="let item of pageContainerItems1"
              [ngClass]="{'example-box': true, 'left-aligned-text': item.content?.includes('id')}"
              [ngClass]="getItemClass(item)"    
              cdkDrag
              [cdkDragDisabled]="item.disabled"
              (cdkDragStarted)="onDragStart($event, item)"
              (cdkDragEnded)="onDragEnd($event, item)">

            <div [innerHTML]="item.content" style="text-align: left; overflow:hidden; text-wrap:auto; white-space: normal;">{{ item.content }}</div>  
            <div class="example-handle" 
                cdkDragHandle
                [ngClass]="{'dragging': item.isDragging}">
              <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Section 2 - Text Area -->
        <div class="text-section">
          <h4>Anomaly Detection</h4>
          <p>Here is a summary of anomalies detected by our system so far</p>
          <p>&#8505; The application uses artificial intelligence to detect anomalies in the data. Note that AI models can sometimes be unreliable, <br>
            and it's always best to verify the results manually wherever possible</p>
        
        </div>

        <!-- Section 2 - Droppable Area -->
        <div class="drop-area-two"
            cdkDropList
            #pageList2="cdkDropList"
            [cdkDropListData]="pageContainerItems2"
            [cdkDropListConnectedTo]="[sideList, pageList2]"
            (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let item of pageContainerItems2"
              [ngClass]="getItemClass(item)"
              cdkDrag
              [cdkDragDisabled]="item.disabled"
              (cdkDragStarted)="onDragStart($event, item)"
              (cdkDragEnded)="onDragEnd($event, item)">
                <canvas *ngIf="item.chartConfig" 
                baseChart 
                [data]="item.chartConfig.data" 
                [options]="item.chartConfig.options" 
                [type]="item.chartConfig.type">
                </canvas>
              
              
            <div class="example-handle" 
                cdkDragHandle
                [ngClass]="{'dragging': isDragging}">
              <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentTab === 'events'">
      <!-- Include content for Events tab -->

        <div class="text-section">Only this section will remain the same.</div>
        <div class="text-section">Only this section will remain the same.</div>
        <div class="text-section">Only this section will remain the same.</div>
        <div class="text-section">Only this section will remain the same.</div>
      </div>

      <div *ngIf="currentTab === 'metrics'">
      <!-- Include content for Metrics tab -->

        <div class="text-section">Only this section will remain the same.</div>
      </div>

      <div *ngIf="currentTab === 'logs'">
      <!-- Include content for Logs tab -->

        <div class="text-section">Only this section will remain the same.</div>
      </div> 
</div>

    </div>

        <!-- Toggle Side Container -->
        <div class="toggle-container">
          <ion-item class="toggle-switch">
            <ion-label>Toggle Side Container</ion-label>
            <ion-toggle [(ngModel)]="sideContainerVisible"
                        (ionChange)="toggleSideContainer()"></ion-toggle>
          </ion-item>
        </div>


  </ion-content>
</ion-app>
